$primary: #0a66c2;
$hover_primary: #70b5f933;
$hover_primary_dark: #004182;
$secondary: #000000e6;
$hover_secondary: #00000014;
$third: #00000099;
$fourth: #666666c9;
$green_primary: #01754f;
$hover_green_primary: #004c33;
$body_color: #f4f2ee;
$general: #ffffff;
$dark_general: #f2f2f2;
$light_primary: #edf3f8;
$red_primary: #cb112d;
$blue_card: #dde7f1;
$secondary_icon: #525559;
