@use '../../sass/Colors' as *;
@use '../../sass/Mixins' as *;
@use '../../sass/Styles' as *;

.create_blog {
  h3 {
    color: $secondary;
  }
  form {
    @extend %miniSectionStyle;
    .submit_btn {
      color: $general;
      background-color: $primary;
    }
  }
}
